$bodyColor: red;

body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.child-div__first {
    width: 700px;
    margin: 0 auto;
    background-color: red;
  }


  .child-div__second{
    width: 944px;
    margin: 0 auto;
    background-color: #a6a39c;
    border-radius: 50px;
    height: 309px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }


  .parent-div {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;

  }

  .input-field {
    display: block;
    width: 690px;
    height: 200px;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
  }

  .key-row {
    display: flex;
    justify-content: center;
    gap: 8PX;
  }

 .keyboard-container{
display: flex;
flex-direction: column;
gap: 15px;
max-width: 1110px;


}

.key {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #b7bdb9;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 18px;
}


.key.active {
  background-color: #fc8a5d;
  border-radius: 22px;
}


.key:hover {
  background-color: #faa482;
}


